In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("covid_toy - covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [7]:
# how to check top 5 data?

In [8]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [9]:
# how to check last data?

In [10]:
df.tail()

    age  gender  fever   cough       city has_covid
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [12]:
# how can we check total rows and columns of a dataframe?

In [14]:
df.shape

(100, 6)

In [15]:
# How can we check total column name in a dataframe?

In [16]:
df.columns

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [17]:
# How can we check rendom indexed data?

In [18]:
df.sample(3)

    age  gender  fever   cough       city has_covid
32   34  Female  101.0  Strong      Delhi       Yes
36   38  Female  101.0    Mild  Bangalore        No
55   81  Female  101.0    Mild     Mumbai       Yes

In [19]:
# Dataframe id mutable

In [21]:
df.head(5)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [22]:
df["gender"][0]="Female"

C:\Users\shain\AppData\Local\Temp\ipykernel_8388\2111699557.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["gender"][0]="Female"
C:\Users\shain\AppData\Local\Temp\ipykernel_8388\2111699557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"][0]="Female"

In [23]:
df.head()

   age  gender  fever cough     city has_covid
0   60  Female  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [24]:
# How can we check statically view of data?

In [25]:
df.describe()

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

In [26]:
# How can we check overall information of our dataframe?

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [28]:
# loc() and iloc() method
# df.loc[row_range , column_name] ---> last index will include
# df.iloc[row_range ,column_range]---> last index value will exclude

In [30]:
df.loc[5:8 , ["age","gender","has_covid"]]

   age  gender has_covid
5   84  Female       Yes
6   14    Male        No
7   20  Female       Yes
8   19  Female        No

In [31]:
df.iloc[5:8 , [0,1,2,4]]

   age  gender  fever       city
5   84  Female    NaN  Bangalore
6   14    Male  101.0  Bangalore
7   20  Female    NaN     Mumbai

In [32]:
# if you want to check total sub-categories frequencies in a column then we can use
# pd.value_counts()

In [33]:
df["gender"].value_counts()

gender
Female    60
Male      40
Name: count, dtype: int64

In [34]:
df["cough"].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [36]:
df["city"].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [37]:
df["has_covid"].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [38]:
# How can we check missing values in a dataframe?

In [39]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [40]:
a=df

In [41]:
#How can we drop the missig rows?

In [42]:
a=a.dropna()

In [43]:
a.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [44]:
a.shape

(90, 6)

In [45]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [46]:
# How can you fill the missing data?
# df["col"] ---> Numerial ---> column mean fill
# df["col"] ---> Categorical --->column most frequent value fill

In [47]:
df["fever"].mean()

np.float64(100.84444444444445)

In [48]:
df["fever"]=df["fever"].fillna(df["fever"].mean())

In [49]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [50]:
df.shape

(100, 6)

In [51]:
df["has_covid"].mode()

0    No
Name: has_covid, dtype: object

In [53]:
df["has_covid"].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [55]:
df

    age  gender  fever   cough       city has_covid
0    60  Female  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

ERROR: Could not find a version that satisfies the requirement xlxs (from versions: none)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for xlxs

In [63]:
dff=df.to_excel("update_covid.xlsx")
dff

In [66]:
pd.read_excel("update_covid.xlsx")

    Unnamed: 0  age  gender  fever   cough       city has_covid
0            0   60  Female  103.0    Mild    Kolkata        No
1            1   27    Male  100.0    Mild      Delhi       Yes
2            2   42    Male  101.0    Mild      Delhi        No
3            3   31  Female   98.0    Mild    Kolkata        No
4            4   65  Female  101.0    Mild     Mumbai        No
..         ...  ...     ...    ...     ...        ...       ...
95          95   12  Female  104.0    Mild  Bangalore        No
96          96   51  Female  101.0  Strong    Kolkata       Yes
97          97   20  Female  101.0    Mild  Bangalore        No
98          98    5  Female   98.0  Strong     Mumbai        No
99          99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 7 columns]